.btn-wsp{
    position: fixed;
    padding: .1rem .8rem;
    line-height: 55px;
    bottom: 15px;
    right: 15px;
    background-color: #00E676;
    color: white;
    border-radius: 50px;
    text-align: center;
    font-size: 2.5rem;
    z-index: 1;
    transition: 2ms all ease;

    &:hover{
        background-color: white;
        color:#00E676;
    }
}