.header__inicio{
    width: 100%;
    height:100vh;

    background-image: url('./images/headers/inicio.jpg');
    background-repeat: no-repeat;
    background-position-x: 42%;
    background-size: cover;

    @include tablet{
        height: 100vh;
        background-image: url('./images/headers/inicio.jpg');
        @include background-imagen;
    }
    @include desktop{
        height: 100vh;
        background-image: url('./images/headers/inicio.jpg');
        @include background-imagen;
    }
}

.header__nosotros{
    width: 100%;
    height:100vh;

    background-image: url('./images/headers/nosotros.jpg');
    background-repeat: no-repeat;
    background-position-x: 42%;
    background-size: cover;

    @include tablet{
        height: 100vh;
        background-image: url('./images/headers/nosotros.jpg');
        @include background-imagen;
    }
    @include desktop{
        height: 100vh;
        background-image: url('./images/headers/nosotros.jpg');
        @include background-imagen;
    }
}

.header__servicios{
    width: 100%;
    height:100vh;

    background-image: url('./images/headers/servicios.jpg');
    background-repeat: no-repeat;
    background-position-x: 42%;
    background-size: cover;

    @include tablet{
        height: 100vh;
        background-image: url('./images/headers/servicios.jpg');
        @include background-imagen;
    }
    @include desktop{
        height: 100vh;
        background-image: url('./images/headers/servicios.jpg');
        @include background-imagen;
    }
}

.header__portafolio{
    width: 100%;
    height:100vh;

    background-image: url('./images/headers/portafolio.jpg');
    background-repeat: no-repeat;
    background-position-x: 42%;
    background-size: cover;

    @include tablet{
        height: 100vh;
        background-image: url('./images/headers/portafolio.jpg');
        @include background-imagen;
    }
    @include desktop{
        height: 100vh;
        background-image: url('./images/headers/portafolio.jpg');
        @include background-imagen;
    }
}

.header__contacto{
    width: 100%;
    height:100vh;

    background-image: url('./images/headers/contacto.jpg');
    background-repeat: no-repeat;
    background-position-x: 42%;
    background-size: cover;

    @include tablet{
        height: 100vh;
        background-image: url('./images/headers/contacto.jpg');
        @include background-imagen;
    }
    @include desktop{
        height: 100vh;
        background-image: url('./images/headers/contacto.jpg');
        @include background-imagen;
    }
}

.header__branding{
    width: 100%;
    height:100vh;

    background-image: url('./images/headers/branding.jpg');
    background-repeat: no-repeat;
    background-position-x: 56%;
    background-size: cover;

    @include tablet{
        height: 100vh;
        background-image: url('./images/headers/branding.jpg');
        @include background-imagen;
    }
    @include desktop{
        height: 100vh;
        background-image: url('./images/headers/branding.jpg');
        @include background-imagen;
    }
}

.header__desarrollo{
    width: 100%;
    height:100vh;

    background-image: url('./images/headers/desarrollo.jpg');
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-size: cover;
    overflow: hidden;

    @include telefonoGrande{
        background-position-x: 50%;
    }

    @include tablet{
        height: 100vh;
        background-image: url('./images/headers/desarrollo.jpg');
        @include background-imagen;
    }
    @include desktop{
        height: 100vh;
        background-image: url('./images/headers/desarrollo.jpg');
        @include background-imagen;
    }
}

.header__diseño{
    width: 100%;
    height:100vh;

    background-image: url('./images/headers/diseño.jpg');
    background-repeat: no-repeat;
    background-position-x: 56%;
    background-size: cover;
    overflow: hidden;

    @include tablet{
        height: 100vh;
        background-image: url('./images/headers/diseño.jpg');
        @include background-imagen;
    }
    @include desktop{
        height: 100vh;
        background-image: url('./images/headers/diseño.jpg');
        @include background-imagen;
    }
}

.header__pauta{
    width: 100%;
    height:100vh;

    background-image: url('./images/headers/pauta.jpg');
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-size: cover;
    overflow: hidden;

    @include telefonoGrande{
        background-position-x: 39%;
    }

    @include tablet{
        height: 100vh;
        background-image: url('./images/headers/pauta.jpg');
        @include background-imagen;
    }
    @include desktop{
        height: 100vh;
        background-image: url('./images/headers/pauta.jpg');
        @include background-imagen;
    }
}

.header__redes{
    width: 100%;
    height:100vh;

    background-image: url('./images/headers/redes.jpg');
    background-repeat: no-repeat;
    background-position-x: 35%;
    background-size: cover;
    overflow: hidden;

    @include telefonoGrande{
        background-position-x: 39%;
    }

    @include tablet{
        height: 100vh;
        background-image: url('./images/headers/redes.jpg');
        @include background-imagen;
    }
    @include desktop{
        height: 100vh;
        background-image: url('./images/headers/redes.jpg');
        @include background-imagen;
    }
}