.pauta__container-3{
    height: 600px;
    background-color: $secundario;
    

    @include telefonoGrande{
        height: 630px;
    }

    @include tablet{
        height: 665px;
    }

    @include desktop{
        height: 660px;
        padding-top: .1rem;
    }
    @include desktopGrande{
        height: 755px;
    }

    h1{
        flex: 100%;
        font-size: 31.6px;
        font-family: $Bellerose;
        font-weight: lighter;
        color: white;
        text-align: center;
        margin-top: -.5rem;
        margin-bottom: .5rem;

        @include telefonoGrande{
            font-size: 32px;
        }

        @include tablet{
            font-size: 55px;
            margin-bottom: 2.5rem;
            line-height: 4rem;
            margin-top: 0rem
        }

        @include desktop{
            font-size: 65px;
            height: 90px;
            line-height: 3rem;
            margin-bottom: 2rem;
            margin-top: 1rem;
        }
        @include desktopGrande{
            font-size: 74px;
        }
    }

    .pauta__contenedor{
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        margin-left: 2.3rem;

        @include telefonoGrande{
            margin-left: 2.3rem;
        }
        @include tablet{
            margin-left: 4rem;
        }

        @include desktop{
            width: 66%;
            text-align: inherit;
            margin-left: 16rem;
        }

        @include desktopGrande{
            width: 50%;
            margin-left: 24.3rem;
            
        }

        .img{
            flex: 20%;

            @include tablet{
                text-align: center;
            }
            @include desktop{
                text-align: inherit;
                flex: 50%;

            }
            @include desktopGrande{
                margin-top: 1.5rem;
            }

            .desktop{
                display: none;

                @include desktop{
                    width: 85%;
                    display: flex;
                }
                @include desktopGrande{
                    width: 100%;
                }
            }

            .responsive{
                width: 59%;
                margin-left: 0.8rem;
                margin-top: 0rem;

                @include telefonoGrande{
                    width: 44%;
                    margin-left: 1.8rem;
                    margin-top: .4rem;
                }

                

                @include tablet{
                    width: 17.2%;
                    margin-left: 8.8rem;
                    margin-top: .3rem;
                }

                @include desktop{
                    display: none;
                }
            }
        }

        .items{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            flex: 80%;

            @include telefonoGrande{
                margin-right: -1.5rem;
            }
            

            @include tablet{
                margin-right: -9.5rem;
                padding-left: 1rem;
            }

            @include desktop{
                margin-right: inherit;
                padding-left: inherit;
                flex: 50%;
            }

            @include desktopGrande{
                padding-left: 1rem;
            }

            .item{
                P{
                    color: white;
                    font-size: 16px;
                    font-family: $robotoCondensed;
                    text-align: justify;
                    width: 221px;

                    @include tablet{
                        font-size: 18px;
                        width: 250px;
                    }
                    @include desktop{
                        font-size: 18px;
                        width: 270px;
                    }
                    @include desktopGrande{
                        font-size: 20px;
                        width: 310px;
                    }
                    
                    
                }

                .uno{
                    margin-bottom: 1.4rem;

                    @include telefonoGrande{
                        margin-bottom: 1rem;
                    }

                    @include tablet{
                        margin-bottom: 1.2rem;
                    }

                    @include desktop{
                        margin-bottom: 1.2rem;
                    }
                    @include desktopGrande{
                        margin-bottom: 2rem;
                    }
                }

                .dos{
                    margin-bottom: .7rem;
                    @include telefonoGrande{
                        margin-bottom: 1.6rem;
                    }
                    @include tablet{
                        margin-bottom: 1.2rem;
                    }
                    @include desktop{
                        margin-bottom: 1rem;
                    }
                }

                .tres{
                    margin-bottom: 1rem;
                    @include telefonoGrande{
                        margin-bottom: 1.6rem;
                    }
                    @include tablet{
                        margin-bottom: 1.2rem;
                    }
                    @include desktop{
                        margin-bottom: 1.1rem;
                    }
                    @include desktopGrande{
                        margin-bottom: 1.9rem;
                    }
                }

                .cuatro{
                    margin-bottom: 1rem;

                    @include telefonoGrande{
                        margin-bottom: 1.7rem;
                    }
                    @include tablet{
                        margin-bottom: 1.2rem;
                    }
                    @include desktop{
                        margin-bottom: 1rem;
                    }
                    @include desktopGrande{
                        margin-bottom: 1.7rem;
                    }
                }

                
            }
        }
    }
}