@mixin box-sizing ($box-model) {
    box-sizing: $box-model;
}

//Media queries
@mixin telefono {
    @media only screen and (min-width: #{$telefono}){
        @content;
    }   
}
@mixin telefonoGrande {
    @media only screen and (min-width: #{$telefonoGrande}){
        @content;
    }  
}
@mixin tablet  {
    @media only screen and (min-width: #{$tablet}){
        @content;
    }   
}

@mixin desktop {
    @media only screen and (min-width: #{$desktop}){
        @content;
    }   
}
@mixin desktopGrande {
    @media only screen and (min-width: #{$desktopGrande}){
        @content;
    }
    
}

//Backgrounds

@mixin background-imagen {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

//boton

@mixin boton {
    text-decoration: none;
    font-family: $robotoCondensed;
    color:white;
    font-weight: 300;
    font-size: 1rem;
    background-color: $secundario;
    padding: .3rem .6rem;
    border-radius: 1rem;  
}

